*{
    box-sizing: border-box;
}
body{
    background-image: url("https://touchpoint.brownadvisory.com/brown-web/resources/images/loginFullBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width:450px;
    height:auto;
    margin: auto;
    margin-top: 15%;
    background-color: #0077b6;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 3px;
}
form{
    width:100%;
    height:100%;
    background-color: #0077b6;
}
h1{
    text-align: center;
    padding-top: 10px;
}
.queen{
    width:440px;
    height:180px;
    font-size:25px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.king{
    width:440px;
    height:50px;
    padding:0;
}
.joker{
    width:99%;
    margin-top: -12px;
    display: none;
}
h2{
    font-size:20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#kai{
    width: 443px;
    height:100%;
    margin:0;
    font-size:40px;
    text-align: center;
}
#kai::placeholder{
    font-size: 22px;
    text-align: center;
}
.a{
    display: block;
    width:100%;
    margin-bottom: 3px;
}
label{
    display: inline-block;
    width:74%;
    color: white;
}
#Strong,#Weak,#Custom,#Medium{
    display: inline-block;
    width: 4%;
    margin-left: 18%;
    transform: scale(2,2);
}
fieldset{
    border:0;
}
dialog{
    width:700px;
}
article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.lab{
    color:black;
    text-align: center;
}
#close{
    background-color: red;
    color:white;
    position: absolute;
    top:0px;
    right:0px;
}
#submit{
    margin-left:10px;
    width:60px;
    height:20px;
    text-align: center;
    background-color: #0077b6;
    color:white;
    border-radius: 2px;
}
.dom{
    display:flex;
    flex-direction: row;
    margin-top:3px;
}