:root{
    --night:rgb(4, 139, 4);
}
*{
    margin:0;
}
body{
    box-sizing: border-box;
    background-image: url("https://as1.ftcdn.net/v2/jpg/01/00/54/52/1000_F_100545200_Pnl5YmCDvKEXEHnnaxeNGKC7gJ6ybHwq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-mode{
   background:black;
}
.title{
    display: flex;
    justify-content: center;
    width:auto;
    height:40px;
    padding:5px;
    background-color:#00f970;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.android-body{
width:450px;
height:550px;
position:absolute;
top:14%;
left:35%;
}
.android{
    background-color: #32de84;
    position: absolute;
}
.face{
    width: 220px;
    height: 100px;
    left:28%;
    top: 16%;
    border: 2px solid black;
    border-radius: 150px 150px 10px 10px;
    z-index:2;
    animation: slide 2s 1 linear;
}
@keyframes slide {
    0%{
        transform: translateY(-460px);
        overflow: hidden;
    }
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    65%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.eye{
    width:15px;
    height:20px;
    background-color: white;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    z-index:4;
    animation: blink 2s infinite linear;
    animation-delay:2s;
}
.right{
    left:55px;
    top:40px;
}
.left{
    right:55px;
    top:40px;
}
.blink{
    width:15px;
    height:20px;
    border-top: 3px solid black;
    border-radius: 50%;
    position: inherit;
    z-index:3;
}
.blink.l{
    right:55px;
    top:43px;
}
.blink.r{
    left:55px;
    top:43px;
}
@keyframes blink {
    30%{
     display: none;
    }
    40%{
      display:none;
    }
}
.antena{
    width:12px;
    height:70px;
    border: 2px solid black;
    border-radius:50px 50px 50px 50px;
    background-color: #32de84;
    position: absolute;
    
}
.left-side{
    top:40px;
    left:150px;
    transform: rotate(-25deg);
    z-index:1;
    animation: slides 2s 1 linear;
}
@keyframes slides {
    0%{
        transform: translateY(-460px) rotateZ(-25deg);
        overflow: hidden;
    }
    40%{
        transform: translateY(0px) rotateZ(-25deg);
    }
    50%{
        transform: translateY(-30px) rotateZ(-25deg);
    }
    65%{
        transform: translateY(0px) rotateZ(-25deg);
    }
    80%{
        transform: translateY(-10px) rotateZ(-25deg);
    }
    100%{
        transform: translateY(0px) rotateZ(-25deg);
    }
    
}
.right-side{
top:40px;
right:135px;
transform: rotate(25deg);
z-index:1;
animation: slidez 2s 1 linear;
}
@keyframes slidez {
    0%{
        transform: translateY(-460px) rotateZ(25deg);
        overflow: hidden;
    }
    40%{
        transform: translateY(0px) rotateZ(25deg);
    }
    50%{
        transform: translateY(-30px) rotateZ(25deg);
    }
    65%{
        transform: translateY(0px) rotateZ(25deg);
    }
    80%{
        transform: translateY(-10px) rotateZ(25deg);
    }
    100%{
        transform: translateY(0px) rotateZ(25deg);
    }
}
.body{
    width:220px;
    height:240px;    
    border: 2px solid black;
    border-radius:5px 5px 30px 30px;
    top:36%;
    left:28%;
}
.rightl{
    height:90px;
    width:40px;
    border-radius: 0 0 150px 150px;
    border-top: 2px solid #32de84;
    border-bottom: 2px solid black;
    border-left:2px solid black;
    border-right:2px solid black;
    bottom:19px;
    left:170px;
}
.leftl{
    height:90px;
    width:40px;
    border-radius: 0 0 150px 150px;
    border-top: 2px solid #32de84;
    border-bottom: 2px solid black;
    border-left:2px solid black;
    border-right:2px solid black;
    bottom:19px;
    right:140px;
}
.lefth{
    width:40px;
    height:220px;
    border: 2px solid black;
    border-radius: 150px 150px; 
    left:18%;
    top:35%;
}
.righth{
    width:40px;
    height:220px;
    border: 2px solid black;
    border-radius: 150px 150px;
    right:12%;
    top:35%;
}
footer{
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width:350px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.mode{
    background-color: #00f970;
    width:150px;
    height:30px;
    border-radius:10px;
    font-weight: 600;
    cursor:grab;
}
.title-mode{
    color:white;
    background-color:rgb(48, 46, 46);
}
.android-mode{
    background-color: black;
    border-color:var(--night);
    animation:glows 1s infinite linear;
    animation-delay:1s;
    box-shadow:none;
}
@keyframes glows {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow:0 0 1px 3px #00f970;
    }
    100%{
        box-shadow:none;
    }
}
.blink-mode{
    border-top-color:var(--night);
}
.antena-mode{
    background-color: black;
    border-color:var(--night);
    animation:glow 1s infinite linear;
}
@keyframes glow {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow:0 0 30px 20px #00f970;
    }
}
.dark{
    display:none;
}
@media only screen and (max-width:600px){
    *{
        box-sizing:border-box;
    }
    body{
        height:610px;
        background-image: url("https://miro.medium.com/v2/resize:fit:640/format:webp/1*2zm-i1LzLyNfh62Vi1RZTg.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
        border:0;
    }
    .android-body{
       width:200px;
        position: static;
        margin:auto;
    }
    .body{
        position:relative;
        left:10px;
        top:0px;
    }
    .righth{
        position: relative;
        top:-640px;
        left:117%;
    }
    .lefth{
        position:relative;
        top:-419px;
        left:-35px;
    }
    .leftl{
        position:relative;
        bottom:93px;
        left:50px;
    }
    .rightl{
        position:relative;
        bottom:3px;
        right:10px;
    }
    .face{
        position: relative;
        left:10px;
        top:130px;
    }
    .right-side{
        position: relative;
        left:195px;
        top:-70px;
    }
    .left-side{
        position: relative;
        top:0px;
        left:30px;
    }
    .eye{
        position: relative;
    }
    .left{
       top:18px; 
       left:150px;
    }
    .blink.l{
        position: absolute;
        top:47px;
        left:55px;
    }
    .blink.r{
        position:absolute;
        top:47px;
        left:150px;
    }
    footer{
        background-color:black;
        color: azure;
    }
}
@media only screen and (min-width:600px) and (max-width:728px){
    body{
        background-image:url("https://images.hdqwalls.com/wallpapers/green-space-stars-abstract-4k-u7.jpg");
        background-size:cover;
        background-repeat:repeat;
        overflow:hidden;
    }
    .android-body{
        left:17%;
    }
    footer{
        color: azure;
    }
}
@media(prefers-color-scheme:dark){
    .title{
        color:white;
        background-color:rgb(48, 46, 46);
    }
    body{
        background:black;
    }

    .android{
        background-color: black;
        border-color:var(--night);
        animation:glows 1s infinite linear;
        animation-delay:1s;
        box-shadow:none;
    }
    .rightl{
        z-index: 1;
    }
    .leftl{
        z-index: 1;
    }
    .body{
        z-index: 2;
    }
    @keyframes glows {
        0%{
            box-shadow: none;
        }
        50%{
            box-shadow:0 0 1px 3px #00f970;
        }
        100%{
            box-shadow:none;
        }
    }
    .blink{
        border-top-color:var(--night);
    }
    .antena{
        animation:glow 1s infinite linear;
    }
    @keyframes glow {
        0%{
            box-shadow: none;
        }
        50%{
            box-shadow:0 0 30px 20px #00f970;
        }
    }
    .text1{
        color:white;
    }
    .light{
        display:none;
    }
    .dark{
        display: block;
    }
}